Codes/CLE/Install/CLEGUI2012/JSXAPPS/CLE/xml/WSDL/CategoryConfiguration_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tibco.com/CommonLE2/Administration/GUIServices/CategoryServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Category" xmlns:ns1="http://www.tibco.com/CommonLE2/Public/Common" xmlns:ns2="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" targetNamespace="http://www.tibco.com/CommonLE2/Administration/GUIServices/CategoryServices">
    <wsdl:types>
        <xsd:schema xmlns="http://www.tibco.com/CommonLE2/Public/Common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/Public/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="Code" type="xsd:string"/>
            <xsd:element name="Error">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns1:Message" minOccurs="0"/>
                        <xsd:element ref="ns1:Code" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Message" type="xsd:string"/>
        </xsd:schema>
        <xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="Query">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Category" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Category" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="ExceptionCategories">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns0:ExceptionCategory" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ExceptionCategory">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ApplicationID" type="xsd:string"/>
                        <xsd:element name="CategoryName" type="xsd:string"/>
                        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="CategoryID" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="intfCategory-service">
        <wsdl:port name="intfwsUpdateCategoryEndpoint0" binding="tns:intfwsUpdateCategoryEndpoint0Binding">
            <soap:address location="http://localhost:9950/Administration/GUIServices/CategoryServices/intfCategory-service.serviceagent/intfwsUpdateCategoryEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="UpdateCategoryOp">
            <wsdl:input message="tns:ExceptionCategories"/>
            <wsdl:output message="tns:Dummy"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveCategoryDetailOp">
            <wsdl:input message="tns:Query"/>
            <wsdl:output message="tns:ExceptionCategories"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveCategoryListWithSysIDOp">
            <wsdl:input message="tns:Query"/>
            <wsdl:output message="tns:ExceptionCategories"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteCategoryOp">
            <wsdl:input message="tns:Query"/>
            <wsdl:output message="tns:Dummy"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="CreateCategoryOp">
            <wsdl:input message="tns:ExceptionCategories"/>
            <wsdl:output message="tns:Dummy"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsUpdateCategoryEndpoint0Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateCategoryOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/CategoryServices/intfUpdateCategory-service.serviceagent/intfwsUpdateCategoryEndpoint0/UpdateCategoryOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts=""/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RetrieveCategoryDetailOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/CategoryServices/intfUpdateCategory-service.serviceagent/intfwsUpdateCategoryEndpoint0/RetrieveCategoryDetailOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RetrieveCategoryListWithSysIDOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/CategoryServices/intfCategory-service.serviceagent//RetrieveCategoryListWithSysIDOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteCategoryOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/CategoryServices/intfUpdateCategory-service.serviceagent/intfwsUpdateCategoryEndpoint0/DeleteCategoryOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts=""/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateCategoryOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/CategoryServices/intfUpdateCategory-service.serviceagent/intfwsUpdateCategoryEndpoint0/CreateCategoryOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts=""/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="ExceptionCategories">
        <wsdl:part name="parameters" element="ns0:ExceptionCategories"/>
    </wsdl:message>
    <wsdl:message name="Dummy"/>
    <wsdl:message name="Error">
        <wsdl:part name="parameters" element="ns1:Error"/>
    </wsdl:message>
    <wsdl:message name="Query">
        <wsdl:part name="parameters" element="ns2:Query"/>
    </wsdl:message>
</wsdl:definitions>