Codes/CLE/Install/CLEGUI2012/JSXAPPS/CLE/xml/WSDL/SeverityConfiguration_wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tibco.com/CommonLE2/Administration/GUIServices/SeverityServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:ns1="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Severity" xmlns:ns2="http://www.tibco.com/CommonLE2/Public/Common" targetNamespace="http://www.tibco.com/CommonLE2/Administration/GUIServices/SeverityServices">
    <wsdl:types>
        <xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Severity" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Severity" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="ExceptionSeverities">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns1:ExceptionSeverity" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ExceptionSeverity">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ApplicationID" type="xsd:string"/>
                        <xsd:element name="SeverityName" type="xsd:string"/>
                        <xsd:element name="Description" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="SeverityID" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema xmlns="http://www.tibco.com/CommonLE2/Public/Common" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/Public/Common" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="Code" type="xsd:string"/>
            <xsd:element name="Error">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ns2:Message" minOccurs="0"/>
                        <xsd:element ref="ns2:Code" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Message" type="xsd:string"/>
        </xsd:schema>
        <xsd:schema xmlns="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/CommonLE2/namespace/Public/Pluggable/GUI/Configuration/Query" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xsd:element name="Query">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:service name="intfSeverity-service">
        <wsdl:port name="intfwsUpdateSeverityEndpoint0" binding="tns:intfwsUpdateSeverityEndpoint0Binding">
            <soap:address location="http://localhost:9950/Administration/GUIServices/SeverityServices/intfSeverity-service.serviceagent/intfwsUpdateSeverityEndpoint0"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="portType">
        <wsdl:operation name="RetrieveSpecificSeverityOp">
            <wsdl:input message="tns:Query"/>
            <wsdl:output message="tns:ExceptionSeverities"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="CreateSeverityOp">
            <wsdl:input message="tns:ExceptionSeverities"/>
            <wsdl:output message="tns:Dummy"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteSeverityOp">
            <wsdl:input message="tns:Query"/>
            <wsdl:output message="tns:Dummy"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveSeverityListWithSysIDOp">
            <wsdl:input message="tns:Query"/>
            <wsdl:output message="tns:ExceptionSeverities"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateSeverityOp">
            <wsdl:input message="tns:ExceptionSeverities"/>
            <wsdl:output message="tns:Dummy"/>
            <wsdl:fault name="fault1" message="tns:Error"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="intfwsUpdateSeverityEndpoint0Binding" type="tns:portType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveSpecificSeverityOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/SeverityServices/intfUpdateSeverity-service.serviceagent/intfwsUpdateSeverityEndpoint0/RetrieveSpecificSeverityOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CreateSeverityOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/SeverityServices/intfUpdateSeverity-service.serviceagent/intfwsUpdateSeverityEndpoint0/CreateSeverityOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts=""/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="DeleteSeverityOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/SeverityServices/intfUpdateSeverity-service.serviceagent/intfwsUpdateSeverityEndpoint0/DeleteSeverityOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts=""/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RetrieveSeverityListWithSysIDOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/SeverityServices/intfSeverity-service.serviceagent//RetrieveSeverityListWithSysIDOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="UpdateSeverityOp">
            <soap:operation style="document" soapAction="/Administration/GUIServices/SeverityServices/intfUpdateSeverity-service.serviceagent/intfwsUpdateSeverityEndpoint0/UpdateSeverityOp"/>
            <wsdl:input>
                <soap:body use="literal" parts="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts=""/>
            </wsdl:output>
            <wsdl:fault name="fault1">
                <soap:fault use="literal" name="fault1"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Query">
        <wsdl:part name="parameters" element="ns0:Query"/>
    </wsdl:message>
    <wsdl:message name="ExceptionSeverities">
        <wsdl:part name="parameters" element="ns1:ExceptionSeverities"/>
    </wsdl:message>
    <wsdl:message name="Error">
        <wsdl:part name="parameters" element="ns2:Error"/>
    </wsdl:message>
    <wsdl:message name="Dummy"/>
</wsdl:definitions>