Codes/CLE/Source/CLE2012/SharedResources/SchemaDefinitions/Private/Exception/ExceptionDetail.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns="http://www.tibco.com/CommonLE2/Private/Exception"
	 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	 xmlns:Common="http://www.tibco.com/CommonLE2/namespace/Private/Common/RequestHeader.xsd"
	 xmlns:ns0="http://www.tibco.com/CommonLE2/namespace/Private/Common/RequestHeader.xsd"
	 targetNamespace="http://www.tibco.com/CommonLE2/Private/Exception"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xsd:import namespace="http://www.tibco.com/CommonLE2/namespace/Private/Common/RequestHeader.xsd" schemaLocation="../Common/RequestHeader.xsd"/>
	<xsd:element name="ExceptionDetail">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ns0:Header"/>
				<xsd:element name="ExceptionInstanceID" type="xsd:string"/>
				<xsd:element name="ExceptionCode" type="xsd:string"/>
				<xsd:element name="Category" type="xsd:string"/>
				<xsd:element name="Type" type="xsd:string"/>
				<xsd:element name="Severity" type="xsd:string"/>
				<xsd:element name="Timeout" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ReplyDestination" type="xsd:string" minOccurs="0"/>
				<xsd:element name="NotificationChannel" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ResolutionDescription" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
				<xsd:element name="TransactionDataAfterResolve" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Custom" type="xsd:string" minOccurs="0"/>
				<xsd:element name="ResolveDelayTime" type="xsd:string" minOccurs="0"/>
				<xsd:element name="EventType" type="xsd:string" minOccurs="0"/>
				<xsd:element name="Stacktrace" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ExceptionDetails">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="ExceptionDetail" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>